@font-face{
  src: url('../fonts/Montserrat-ExtraLight.ttf');
       font-family: 'Mont-Exlight';
}
@font-face{
  src: url('../fonts/Montserrat-Light.ttf');
  font-family: 'Mont-Light';
}
@font-face{
  src: url('../fonts/Raleway-ExtraBold.ttf');
  font-family: 'Rale-ExBold';
}
@font-face{
  src: url('../fonts/Raleway-Medium.ttf');
  font-family: 'Rale-Medium';
}
@font-face{
  src: url('../fonts/Raleway-Regular.ttf');
  font-family: 'Rale-Regular';
}
@font-face{
  src: url('../fonts/Raleway-SemiBold.ttf');
  font-family: 'Rale-SemiBold';
}

  


body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.burger-menu{
  display: none;
  width: 30px;
  height: 23px;
}

.burger{
  position:relative;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: linear 0.5s;
  transform: rotate(-180deg);
}
.burger:before{
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color:#fff;
  top: -10px;
  left: 0;
  display: block;
  transition: ease 0.2s;
}
.burger:after{
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color:#fff;
  top: 10px;
  left: 0;
  display: block;
  transition: ease 0.2s;
}
.hide-menu{
  display: none;
  width: 30px;
    height: 23px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    position: relative;
    z-index: 23;
}

#switcher{
  position: absolute;
    left: -999999999999px;
    visibility: hidden;
}
#switcher:checked ~ .hide-menu>.burger.burger-active{
  background-color: transparent!important;
  transform: rotate(180deg);
  transition: linear 0.5s;
}
#switcher:checked ~ .hide-menu>.burger.burger-active:before{
  transform: rotate(45deg);
  top: 0px;
  transition: ease 0.2s;
}
#switcher:checked ~ .hide-menu>.burger.burger-active:after{
  top: 0px;
  transform: rotate(-45deg);
  transition: ease 0.2s;
}


section{
  max-width: 1920px;
  margin: 0 auto;
}
.padding-section{
  padding-top: 80px;
  padding-bottom: 80px;
}

.main-page-nav{
  position: absolute;
  padding-top: 40px;
   z-index: 22;
}
.menu{
    display: block;
   padding: 0;
   margin: 0;
   list-style-type: none;
   z-index: 22;
   transition: ease 3s;
}
.menu li{
   padding: 13px;
}
.menu li a {
   display: block;
   width: 100%;
   height: 100%;
   color: white;
   text-align: center;
   text-decoration: none;
   font-family: 'Mont-Light', sans-serif;
   font-size: 14px;
   /* border: 1px solid black; */
   /* background-color: #ccc; */
 }
 .menu li a:hover{
   color: #c7b299;
 }
.header{
  position: relative;
}

.logo-link{
    justify-content: center;
    align-items: center;
    width: 180px;
    margin-right: 219px;
}
.link-logo-txt{
    text-decoration: none;
    font-size: 28px;
    font-family: 'Mont-Light', sans-serif;
    color: #ffffff;
}
.link-logo-svg {
    fill: #fff;
}
.logo-link:hover{
    text-decoration: none;
}

.logo-link:hover .link-logo-svg {
    fill: #c7b299;
  }
  
  .logo-link:hover .link-logo-txt {
   color: #c7b299;
    text-decoration: none;
  }
  
  .logo-link:active .link-logo-svg {
    fill: #c7b299;
  }
  
  .logo-link:active .link-logo-txt {
    color: #c7b299;
  }

  .cart-svg{
    fill: #fff;
  }
  .cart-svg:hover{
    fill:#c7b299;
  }
  .search-svg{
    fill: #fff;
  }
  .search-svg:hover{
    fill:#c7b299;
  }
  .slider{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .slider-content{
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
  }
  .z-slider{
    z-index: -1;
  }
.dg-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
  z-index: 1;
}
.main-text-slider{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.mount-photo-carousel{
  width: 100vw!important;
    height: 100vh;
    object-fit: cover;
}
.carousel-control-prev-icon, 
  .carousel-control-next-icon{
    background-image: none;
  }

.arrow-left-svg,
  .arrow-right-svg{
  fill: #fff;
  }


  .arrow-left-svg:hover,
    .arrow-right-svg:hover {
      fill: #c7b299;
    }

.text{
  color: #fff;
    text-align: center;
}
.text h1{
  font-family: 'Rale-ExBold' , sans-serif;
  font-size: 52px;
}
.text h2{
  font-family: 'Rale-Medium' , sans-serif;
  font-size: 36px;
}
.text p{
  max-width: 600px;
  font-family: 'Mont-Light', sans-serif;
  font-size: 16px;
}

.button{
  font-family: 'Rale-ExBold' ,sans-serif;
  font-size: 14px;
  min-width: 170px;
  min-height: 53px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #998675;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: linear 0.1s;
}
.button:hover{
  transform: scale(1.2);
  transition: linear 0.2s;
  text-decoration: none;
  border: none;
  color: #fff;
  background-color:#706256 ;
}
.btn-link{
  font-family: 'Rale-ExBold' ,sans-serif;
  font-size: 14px;
}
.pagination {
  top: 170px;
  position: absolute;
  left: 35%;
  }
  
  .pagination-link {
    display: block;
    width: 10px;
    min-height: 10px;
    margin: 5px;
    opacity: 0.5;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
  }

  .pagination-link:hover {
    border: 2px solid #ccc;
    background-color: transparent;
  }


/* /services/ */
.services{
    width: 100%;
}
.web {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    text-align: center;
    color: #555555;
    background-color: #fff;
  }
  
  .web:after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #555555;
  }
  
  .web:hover .web-icon {
    fill: #c7b299;
  }
  
  .web:hover .web-title {
    color: #c7b299;
  }
  
  .web:hover:after {
   background-color:#c7b299;
  }
  
  .web-icon {
    fill: #555555;
    margin: 0 0 15px 0;
  }
  
  .web-title {
    margin: 0 0 10px 0;
    width: 100%;
    font-weight: bold;
    font-family: 'Rale-SemiBold' , sans-serif;
  }
  
  .web-txt {
    font-family: 'Mont-Light' , sans-serif;
    margin: 0 0 15px 0;
  }
/* ALL HEADERS-SECTION STYLE*/
.header-section h1{
  font-family: 'Rale-SemiBold', sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #555555;
}
.header-section p{
  font-family: 'Mont-Light', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #8c8c8c;
  max-width: 757px;
}
  /* ///////REALIZATION */
  .realization{
    width: 100%;
    background-color:#fbfaf8;
    text-align: center;
    padding-top: 80px;
  }
  .realization-text h1{
    font-family: 'Rale-SemiBold', sans-serif;
    margin-bottom: 24px;
  }
  .realization-text p{
    max-width: 757px;
    margin-bottom: 40px;
    font-family: 'Mont-Light', sans-serif;
    font-size: 16px;
    color: #8c8c8c;
  }
  .bg-all-section{
    background-color:#fbfaf8 ;
  }
  .img-carousel{
    max-width: 1200px;
    height: 482px;
    background: url(../img/browser-center.png) center bottom , 
                url(../img/browser-left.png) left bottom,
                url(../img/browser-right.png) right bottom ;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .gardient-wordpress{
    height: 100%;
  background-image: linear-gradient(to top, #211b19, #4e3427);
  }
  .gardient-padding{
    padding: 44px 0 44px 0;
  }
  .gardient-wp-header h1{
    font-family: 'Rale-Regular',sans-serif;
    text-align: left;
    color: #ffffff;
    font-size: 28px;
  }
  .gardient-wp-header h1:hover{
    color: #c7b299;
  }
  .gardient-wp-header p{
    margin: 0;
    text-align: left;
    color: #615855;
    font-size: 18px;
    font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
    font-family:'Mont-Light' ,sans-serif;
  }

  /* !!!!!!!!!! PROJECT!!!!!!!!!!!!!!!! */
  .nav{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .project-link li{
    list-style: none;
    margin: 5px;
    border-radius: 3px;
    border: solid 1px #ebebeb;
    /* background-color: #111111; */
  }
  .project-link li a{
    padding: 8px 19px;
    color: #8c8c8c;
    display: block;
  }
  .project-link li a:hover{
    background-color: #c7b299;
    color: white;
    display: block;
    text-decoration: none;

  }

.img-all{
  width: 370px;
  margin: 15px;
}
.img-block{
    position: relative;
    background: black;
    transition: ease-in-out 1s;
  }
  .img-block span{
    position: absolute;
    display: none;
  }
  .chain-block{
    top: 33%;
    left: 32%;
  }
  .lupa-block{
    top: 33%;
    right: 37%;
  }

  .img-block:hover span{
    display: block;

  }

  .chain{
    fill:rgb(255, 255, 255);
  }
  .chain:hover{
    fill:#c7b299;
  }
  .lupa{
    fill:rgb(255, 255, 255);
  }
  .lupa:hover{
    fill:#c7b299;
  }
  .photo-block{
    max-width: 1200px;
    margin: 0 auto;
  }
  .img-block:hover .project-img{
   opacity: 0.5;
   transition: ease-in-out 1s;
  }
  .img-block:hover .text-description{
    background-color:#362f2d;
    transition: ease-in-out 1s;
  }
  .text-description{
    padding: 30px;
    background-color: #fbfaf8;
    width: 100%;
    position: relative;
    transition: ease-in-out 0.5s;
  }
  .img-block:hover .text-description:before{
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 10px solid #362f2d;
    transition: ease-in-out 1s;
  }
  .text-description:before{
    z-index: 3;
    content: "";
    display: block;
    position: absolute;
    left: 25px;
    top: -10px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    transition: ease-in-out 1s;
  }
  .text-description h1{
    font-family: 'Rale-Medium',sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #c7b299;
    margin-bottom: 14px;
  }
  .text-description p{
      font-family: 'Mont-Light',sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: normal;
      text-align: left;
      color:#d1d1d1;
      margin: 0;
}


/* <!-- //////////////VIDEO////////// --> */
.video{
  background-image: url(../img/video.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 705px;
  position: relative;
}
.video-header{
  max-width: 757px;
    position: relative;
    top: 30%;
   
    margin: 0 auto
}
.bg-video{
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
}
.video-header h1{
  color: #ffffff;
}
.video-header p{
  color: #fff;
}

.circle{
  background: rgba(17, 17, 17, 0.7);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
 margin: 0 auto 60px;
}
.play-circle{
  position: absolute;
    top: 15px;
    left: 15px;
    
    transition: ease-in 0.5s;
    
}
.play-circle:hover{
-webkit-transform: rotateX(180deg) rotateY(-180deg) rotateZ(180deg);
-moz-transform: rotateX(180deg) rotateY(-180deg) rotateZ(180deg);
-ms-transform: rotateX(180deg) rotateY(-180deg) rotateZ(180deg);
-o-transform: rotateX(180deg) rotateY(-180deg) rotateZ(180deg);
transform:  rotateX(180deg) rotateY(-180deg) rotateZ(180deg);
  transition: ease-in 0.5s;
}
.time{
  position: relative;
  margin: 0 auto;
  width: 45px;
  font-family: 'Rale-Regular',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #c7b299;
}
/* ///////////IPHONE////////// */
.iphone-all{
 padding-top: 80px;
}
.iphone-image img{
  width: 100%;
}
.iphone-text{
  width: 657px;
  margin-top: 116px;
}
.iphone-text h1{
  text-align: left;
}
.iphone-text p{
  text-align: justify;
}
.iphone-list li{
  font-family: 'Mont-Light',sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #8c8c8c;
  list-style: none;
  background: url(../img/arrow-list.png) no-repeat 0 4px;
  padding-left: 50px;
}
/* //////////////////////RECENT-post//////////// */
.recent-posts-section-news{
  max-width: 370px;
  margin: 15px;
  position: relative;
  transition: ease-in-out 1s;
}
.recent-posts-section-news:hover{
  transition: ease-in-out 1s;
  background-color: rgba(54, 47, 45, 0.7);
}
.recent-posts-section-news:hover .calendar p:nth-child(1){
  background-color: #c7b299;
  transition: ease-in-out 1s;
}

.recent-posts-section-news:hover .calendar p:nth-child(2){
  background-color: #a48d72;
  transition: ease-in-out 1s;
}
.recent-posts-section-news:hover .recent-posts-content-news{
  background-color: rgb(54, 47, 45);
  transition: ease-in-out 1s;
}
.recent-posts-content-news{
  padding: 30px 0 30px 30px;
  transition: ease-in-out 1s;
}

.post-image{
  position: relative;
  z-index: -1;
  width: 100%;
}

.calendar{
  position: absolute;
  width: 50px;
  top: 20px;
  left: 20px;
  
}
.calendar p{
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
.calendar p:nth-child(1){
  font-size: 24px;
  height: 35px;
  background-color: #363636;
  border-radius: 5px 5px 0 0;
  transition: ease-in-out 1s;
}
.calendar p:nth-child(2){
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
  height: 25px;
  background-color: #252525;
  border-radius: 0 0 5px 5px;
  transition: ease-in-out 1s;
}

.recent-posts-content-news h1{
  font-family: 'Rale-Medium',sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}
.recent-posts-content-news:hover h1{
  color: #c7b299;
}
.recent-posts-content-news p{
  font-family: 'Mont-Light',sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #8c8c8c;
}
.recent-posts-content-news:hover p{
  color: #fff;
}
.read-more{
  text-decoration: none;
  font-family: 'Mont-Light',sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #c7b299;
}
.read-more:hover{
  text-decoration: none;
  color: #c7b299;
}
.read-more-arrow{  
  fill:#c7b299;
  margin-left: 10px;
}
/* /////////////COUNTS//////////// */
.counts{
  width: 100%;
  background-image: linear-gradient(to top, #211b19, #4e3427);
}
.count-section{
  padding: 50px;
  text-align: center;
}
.count-section:after{
  content: '';
  display: block;
  border-bottom: #c7b299 solid 2px;
  width: 30px ;
  margin: 0 auto;
  padding-top: 30px;
}
.count-svg{
  fill:#c7b299;
  margin-bottom: 30px;
  transition: all 0.3s linear 0.2s;
}
.count-section:hover .count-svg{
  transform: rotateY(180deg);
  transition: all 0.3s linear 0.2s;
}
.count-section-titles{
  font-family:'Mont-Light',sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #c7b299;
 
}

.count-section-content{
  font-family: 'Mont-Exlight',sans-serif;
  font-size: 48px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

/* //////////////////////////////////PARTNERS????///// */
.partners{
  background-image: url(../img/photo-bg-footer.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.partners-block{
  padding: 100px 0;
}
.partners-links{
  display: block;
  transition: ease 1s;
}
.partners-links:hover{
  transform: scale(1.2);
  transition: ease 1s;
}
.partners-list{
  padding: 40px 70px;
}

.footer{
  background-color: #191919;
}
.footer-logo{
  margin-top: -13px;
    padding-bottom: 20px;
}
.dribbble-photo{
  padding-top: 20px;
}
.dribbble-photo img{
  padding-bottom: 10px;
  transition: linear 0.5s;
}
.dribbble-photo img:hover{
  transform: scale(1.25);
  transition: linear 0.5s;
}
.footer-width{
  width: 270px;
  margin: 15px;
}
.footer-text p{
  font-family: 'Mont-Light',sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #555555;
}
.footer-text h3{
  font-family: 'Mont-Light',sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #363636;
}
.footer-text h2{
  font-family: 'Raley-Bold',sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.our-twiter-links{
  color:#00bff3;
  text-decoration: none;
}
.our-twiter-links:hover{
  color: #fff;
  text-decoration: none;
}
.waxom-footer-link{
  color: #d1d1d1;
  text-decoration: none;
}
.waxom-footer-link:hover{
  color: #00bff3;
  text-decoration: none;
}
.day-section{
  padding-top: 20px;
  border-bottom: 2px solid #252525;
}
.footer-copy{
  background-color: #111111;
}
.footer-bottom{
  max-width: 1200px;
  margin: 0 auto;
  height: 111px;
  padding: 0 50px;
  transition: all 2s;
}
.footer-bottom-link a{
  color:#555555;
}
.footer-bottom-link a:hover >span{
  text-decoration: none;
  color:#959595 ;
  transition: all 0.5s;
}
.footer-bottom-link a:nth-child(2),
  .footer-bottom-link a:nth-child(3),
    .footer-bottom-link a:nth-child(4){
      margin-left: 10px;
      border-left: solid 1px #555555;
      border-right: 10px;
}
.footer-bottom-link a:hover:nth-child(2),
 .footer-bottom-link a:hover:nth-child(3),
  .footer-bottom-link a:hover:nth-child(4)
{
  border-left: solid 1px #c7b299;
  color: #c7b299;
}
.footer-bottom-link a:hover{
  text-decoration: none;
  transition: all 0.5s;
}
@media screen and (max-width : 900px){
  
  .main-page-nav{
    position: absolute;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }
  .logo-link.logo-main-header{
    width: 65px!important;
    position: relative;
    z-index: 23;
    margin-right: 0px!important;
  }
  .link-logo-txt.logo-txt-main-header{
    display: none;
  }
  .web{
    padding: 20px;
  }
  .gardient-wp-header h1{
    font-size: 19px;
  }
  .gardient-wp-header p{
    display: none;
  }
  .hide-menu{
    display: flex!important;
    justify-content: center;
    align-items: center;
  }
  .hide-menu:hover{
    color: #c7b299;
  }
  .menu li{
    position: relative;
    top: 45px;
    width: 50%;
    margin: 0 auto;
  }
  .menu li{
    padding: 4px!important;
  }
  .menu{
    display: none!important;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 1000%;
    background-color: black;
    width: 100%;
    height: 100vh;
  }
  
  #switcher:checked~.menu{
    display: block!important;
    left: 0;
    }
  
    .iphone-text{
      margin-top: 0px;
    }
    .text{
      width: 70%;
    }
    .text h2{
      font-size:24px!important;
    }
      .text h1{
      font-size:36px!important;
    }
    .text p{
      font-size: 12px!important;
    }
   .img-carousel{
    background-size: 73%;
    height: 168px;
   }
   .footer-bottom{
     padding: 0 15px;
     flex-wrap: wrap;
   }
  }

